<div
  class="content-wrapper d-flex"
  [ngClass]="{ 'sidebar-open': isSidebarOpen }"
>
  <div class="sidebar-wrapper">
    <app-sidebar [(sidebarState)]="isSidebarOpen"></app-sidebar>
  </div>
  <div class="main-wrapper pt-3 h-100">
    <div></div>
    <div *ngIf="ExportLoader">
      <app-loader [message]="exportloaderMessage"></app-loader>
    </div>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-12">
          <div
            class="property-details-wrapper"
            style="width: 100%"
            *ngIf="!showActionDetails && !showImport"
          >
            <div class="row">
              <div class="col-md-9">
                <p class="main-heading">
                  <span
                    >{{ data ? data.master.action.action : "Action" }}:</span
                  >
                  {{
                    data
                      ? data.master.action.viewandaddnewactioninsystem
                      : "View and Add New Action in System"
                  }}
                </p>
              </div>
              <div class="col-md-3 text-right">
                <a
                  href="javascript:void(0)"
                  mat-raised-button
                  (click)="exportReport('Action')"
                  style="line-height: 24px !important"
                  class="btn btn-info"
                  ><i class="fa fa-file-text-o" aria-hidden="true"></i>
                  {{ data ? data.buttons.export : "Export" }}</a
                >
                <!-- <a (click)="showImportScreen()" class="btn btn-secondary mr-2"
                  ><i class="fa fa-upload" aria-hidden="true"></i
                  >{{ data ? data.buttons.import : "Import" }}</a
                > -->
                <a class="btn btn-info" (click)="addNewAction(true)"
                  ><i class="fa fa-plus" aria-hidden="true"></i>
                  {{ data ? data.buttons.new : "New" }}</a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="search-wrapper">
                  <div class="search-product">
                    <div class="search_main">
                      <div class="search-input">
                        <span
                          ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <input
                          type="search"
                          [(ngModel)]="simpleSearch"
                          (keyup.enter)="
                            simpleSearchActionData($event.target.value)
                          "
                        />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{
                          data
                            ? data.master.action.searchaction
                            : "Search Action"
                        }}</label>
                        <span
                          ><i
                            (click)="getAction()"
                            class="fa fa-times"
                            aria-hidden="true"
                          ></i
                        ></span>
                        <span (click)="showQueryForm()" class="dropdown-form"
                          ><i class="fa fa-sort-desc" aria-hidden="true"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div id="query1" class="query1" *ngIf="showData">
                    <div class="form-container">
                      <form>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="Action"
                                >{{
                                  data
                                    ? data.master.action.actionname
                                    : "Action Name"
                                }}:</label
                              >
                              <div class="suggestion_input_wrapper">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="action"
                                  placeholder="{{
                                    data
                                      ? data.master.action.enteractionname
                                      : 'Enter Action Name'
                                  }}"
                                  name="action"
                                  [(ngModel)]="actionAdvanceSearch.actionName"
                                  (keyup)="
                                    fetchActionNames($event.target.value)
                                  "
                                  (keydown)="onTokenActionInputKeydown($event)"
                                />
                              </div>
                              <ul
                                class="searched-list searchSuggestions"
                                *ngIf="actions.length > 0"
                              >
                                <li
                                  *ngFor="let action of actions; let i = index"
                                  [class.selected]="
                                    i === tokenActionSuggestionIndex
                                  "
                                  (click)="setTokenAction(action, 'search')"
                                >
                                  {{ action.actionName }}
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="actionShortname"
                                >{{
                                  data
                                    ? data.master.action.actionshortname
                                    : "Action Short Name"
                                }}:</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="countryName"
                                placeholder="{{
                                  data
                                    ? data.master.action.actionshortname
                                    : 'Enter Action Short Name'
                                }}"
                                name="actionShortname"
                                (keyup)="
                                  $event.target.value =
                                    $event.target.value.toUpperCase()
                                "
                                [(ngModel)]="
                                  actionAdvanceSearch.actionShortName
                                "
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="status"
                                >{{
                                  data ? data.master.action.status : "Status"
                                }}:</label
                              >
                              <select
                                name="status"
                                class="custom-select"
                                [(ngModel)]="actionAdvanceSearch.status"
                              >
                                <option selected>Active</option>
                                <option value="2">Inactive</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="query-btn">
                          <a
                            class="btn btn-secondary"
                            (click)="resetAdvanceSearch()"
                            ><i class="fa fa-history" aria-hidden="true"></i>
                            {{ data ? data.buttons.reset : "Reset" }}</a
                          >
                          <a
                            class="btn btn-info"
                            (click)="advanceActionSearch()"
                            ><i class="fa fa-search" aria-hidden="true"></i>
                            {{ data ? data.buttons.search : "Search" }}</a
                          >
                          <a class="btn btn-danger" (click)="showQueryForm()"
                            ><i class="fa fa-close" aria-hidden="true"></i>
                            {{ data ? data.admission.close : "Close" }}</a
                          >
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="property-table-wrapper" style="width: 100%">
                  <div class="table-responsive">
                    <table
                      mat-table
                      [dataSource]="dataSourceAction"
                      matTableExporter
                      #exporter="matTableExporter"
                      class="mat-elevation-z8"
                      matSort
                      #actionSort="matSort"
                    >
                      <ng-container matColumnDef="actionName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{
                            data ? data.master.action.actionname : "Action Name"
                          }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.actionName }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="actionShortName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{
                            data
                              ? data.master.action.actionshortname
                              : "Action Short Name"
                          }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.actionShortName }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="actionDescription">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{
                            data
                              ? data.master.action.actiondescription
                              : "Action Description"
                          }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.actionDescription }}
                        </td>
                      </ng-container>

                      <!-- <ng-container matColumnDef="actionUrl">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                  Action Url
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.actionUrl}}
                                </td>
                            </ng-container> -->

                      <ng-container matColumnDef="status">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{ data ? data.master.action.status : "Status" }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.status === 1 ? "Active" : "Inactive" }}
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedActionColumn"
                      ></tr>
                      <tr
                        mat-row
                        (dblclick)="getTableClickData(row._id)"
                        *matRowDef="
                          let row;
                          columns: displayedActionColumn;
                          let i = index
                        "
                      ></tr>

                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell">No data Found!</td>
                      </tr>
                    </table>
                    <!-- <table mat-table [dataSource]="dataSourceComponent" class="mat-elevation-z8" matSort
                                    #tokenSort="matSort">
                                    <ng-container matColumnDef="componentName">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                          {{data? data.master.tax.componentname: 'Component Name'}}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                           {{element?.componentName}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="effectiveRate">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                          {{data? data.master.tax.effectiverate: 'Effective Rate'}}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element?.effectiveRate}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="displayRate">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                          {{data? data.master.tax.displayrate: 'Display Rate'}}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element?.displayRate}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                          {{data? data.master.tax.status: 'Status'}}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                          {{element?.status===1 ? 'Active':'Inactive'}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedComponentColumn"></tr>
                                    <tr mat-row (dblclick)="getTaxComponentById(row._id)"  *matRowDef="let row; columns: displayedComponentColumn; let i = index">
                                    </tr>
                                </table> -->
                    <!-- <table mat-table [dataSource]="dataSourcePincode" class="mat-elevation-z8" matSort>
                                    <ng-container matColumnDef="pincode">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{data? data.master.pincode.pincode: 'Pincode'}} </th>
                                        <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="countryName">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{data? data.master.pincode.countryName: 'Country Name'}}</th>
                                        <td mat-cell *matCellDef="let element"> {{element.countryName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="countryISOCode">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{data? data.master.pincode.countryISOCode: 'Country ISO Code'}}</th>
                                        <td mat-cell *matCellDef="let element"> {{element.countryISOCode}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="stateName">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{data? data.master.pincode.stateName: 'State Name'}}</th>
                                        <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="cityName">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{data? data.master.pincode.cityName: 'City Name'}}</th>
                                        <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="region">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{data? data.master.pincode.region: 'Region'}}</th>
                                        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef>{{data? data.master.pincode.status: 'Status'}}
                                        </th>
                                        <td mat-cell *matCellDef="let element">{{element?.status===1 ? 'Active':'Inactive'}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row (dblclick)="getPincodeById(row._id)" *matRowDef="let row; columns: displayedColumns; let i = index"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                      <td class="mat-cell">No data Found!</td>
                                  </tr>

                                  </table> -->
                  </div>
                  <mat-paginator
                    [pageSizeOptions]="[10, 25, 50, 100]"
                    aria-label="Select page of actions"
                  ></mat-paginator>
                </div>
              </div>
            </div>
          </div>
          <div
            class="new-property-wrapper"
            *ngIf="showActionDetails && !showImport"
          >
            <p class="main-heading">
              <span
                >{{
                  data ? data.master.action.addnewaction : "Add New Action"
                }}: </span
              >{{
                data
                  ? data.master.action.fillthefollowingdetailstoaddnewaction
                  : "Fill the following details to add new action."
              }}
              <span
                (click)="hideActionDetails()"
                class="close1"
                data-toggle="tooltip"
                title="Close"
                >X</span
              >
            </p>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label for="actionName1"
                      >{{ data ? data.master.action.actionname : "Action Name"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <div class="suggestion_input_wrapper">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      <input
                        type="text"
                        class="form-control"
                        id="actionName1"
                        [(ngModel)]="actionToken.actionName"
                        placeholder="{{
                          data
                            ? data.master.action.enteractionname
                            : 'Enter Action Name'
                        }}"
                        name="actionName1"
                        (keyup)="fetchActionNames($event.target.value)"
                        (keydown)="onTokenActionPopulateInputKeydown($event)"
                        #actionName
                      />
                    </div>
                    <ul class="searched-list" *ngIf="actions.length > 0">
                      <li
                        *ngFor="let action of actions; let i = index"
                        [class.selected]="
                          i === tokenActionPopulateSuggestionIndex
                        "
                        (click)="setTokenAction(action, 'populate')"
                      >
                        {{ action.actionName }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="actionShortname1"
                      >{{
                        data
                          ? data.master.action.actionshortname
                          : "Action Short Name"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="actionShortname1"
                      [(ngModel)]="actionToken.actionShortName"
                      placeholder="{{
                        data
                          ? data.master.action.enteractionshortname
                          : 'Enter Action Short Name'
                      }}"
                      (keyup)="
                        $event.target.value = $event.target.value.toUpperCase()
                      "
                      name="actionShortname1"
                      #actionShortName
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="actiondescription"
                      >{{
                        data
                          ? data.master.action.actiondescription
                          : "Action Description"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <textarea
                      [(ngModel)]="actionToken.actionDescription"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                      id="actiondescription"
                      rows="2"
                      #actionDescription
                      placeholder="{{
                        data
                          ? data.master.action.enteractiondescription
                          : 'Enter Action Description'
                      }}"
                    ></textarea>
                    <!-- <input type="textarea" class="form-control" id="actiondescription" [(ngModel)]="actionToken.actionDescription"
                                    placeholder="Enter Action Description"
                                    name="actionDescription" #actionDescription> -->
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="actiondescription">Action Description<span class="asterisk">*</span>:</label>
                                    <input type="text" class="form-control" id="actiondescription"
                                        placeholder="Enter Action Description"
                                        name="action Description">
                                </div>
                              </div> -->
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="actionUrl"
                      >{{ data ? data.master.action.actionurl : "Action Url"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="actionUrl"
                      [(ngModel)]="actionToken.actionUrl"
                      placeholder="{{
                        data
                          ? data.master.action.enteractionurl
                          : 'Enter Action Url'
                      }}"
                      name="actionUrl"
                      #actionUrl
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div
                    class="form-group d-flex justify-content-between align-items-center"
                  >
                    <label class="mb-0" for="isActive"
                      >{{
                        data ? data.master.action.isactive : "Is Active"
                      }}:</label
                    >
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        name="isActive"
                        [(ngModel)]="actionToken.status"
                        class="custom-control-input"
                        id="customSwitch1"
                        checked
                      />
                      <label
                        class="custom-control-label"
                        for="customSwitch1"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-- <ul class="nav nav-tabs mt-4" id="myTab" role="tablist" >
                        <li class="nav-item">
                            <a class="nav-link active" id="properties-tab" data-toggle="tab" href="#properties"
                                role="tab" aria-controls="properties" aria-selected="true">Action Actions</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent" >
                      <div class="tab-pane fade show active" id="properties" role="tabpanel"
                          aria-labelledby="properties-tab">
                          <div class="properties-data" *ngIf="!addNewProperty">
                              <p class="main-heading">
                                  <span>Action Actions </span>
                              </p>
                          </div>
                        </div>
                      </div> -->
            <div class="result mt-4">
              <a class="btn btn-secondary mr-2" (click)="resetAction()"
                ><i class="fa fa-history" aria-hidden="true"></i
                >{{ data ? data.buttons.reset : "Reset" }}</a
              >
              <a class="btn btn-success" (click)="saveAction()">
                <i class="fa fa-check" aria-hidden="true"></i
                >{{ data ? data.buttons.submit : "Submit" }}</a
              >
            </div>
          </div>
          <div *ngIf="showImport && !showActionDetails">
            <app-import-data
              [showNavBar]="false"
              [showLeftMenu]="false"
              [validator]="importValidator"
              (importClose)="backToResults()"
            ></app-import-data>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
