<div
  class="content-wrapper d-flex"
  [ngClass]="{ 'sidebar-open': isSidebarOpen }"
>
  <div class="sidebar-wrapper">
    <app-sidebar [(sidebarState)]="isSidebarOpen"></app-sidebar>
  </div>
  <div class="main-wrapper pt-3 h-100">
    <div *ngIf="pincodeLoaderShow">
      <app-loader [message]="'Loading Pincodes...'"></app-loader>
    </div>
    <div *ngIf="ExportLoader">
      <app-loader [message]="exportloaderMessage"></app-loader>
    </div>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-12">
          <div
            class="property-details-wrapper"
            style="width: 100%"
            *ngIf="!showPincodeDetails && !showImport"
          >
            <div class="row">
              <div class="col-md-6">
                <p class="main-heading">
                  <span
                    >{{
                      data ? data.master.pincode.txtHeading : "Pincode"
                    }}:</span
                  >
                  {{
                    data
                      ? data.master.pincode.txtDes
                      : "View and Add New Pincode in System"
                  }}
                </p>
              </div>
              <div class="col-md-6 text-right">
                <a
                  href="javascript:void(0)"
                  mat-raised-button
                  (click)="exportReport('Pincode')"
                  style="line-height: 24px !important"
                  class="btn btn-info"
                  ><i class="fa fa-file-text-o" aria-hidden="true"></i>
                  {{ data ? data.buttons.export : "Export" }}</a
                >
                <a
                  (click)="showImportScreen()"
                  class="btn btn-success text-white mr-2"
                  ><i class="fa fa-upload" aria-hidden="true"></i
                  >{{ data ? data.buttons.import : "Import" }}</a
                >
                <a class="btn btn-info" (click)="addNewPincode(true)"
                  ><i class="fa fa-plus" aria-hidden="true"></i>
                  {{ data ? data.buttons.new : "New" }}</a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="search-wrapper">
                  <div class="search-product">
                    <div class="search_main">
                      <div class="search-input">
                        <span
                          ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                        <input
                          type="search"
                          [(ngModel)]="simpleSearch"
                          (keyup.enter)="
                            simpleSearchPincodeData($event.target.value)
                          "
                        />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{
                          data
                            ? data.master.pincode.searchPincode
                            : "Search Pincode"
                        }}</label>
                        <span
                          ><i
                            (click)="getPincode()"
                            class="fa fa-times"
                            aria-hidden="true"
                          ></i
                        ></span>
                        <span (click)="showQueryForm()" class="dropdown-form"
                          ><i class="fa fa-sort-desc" aria-hidden="true"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div id="query1" class="query1" *ngIf="showData">
                    <div class="form-container">
                      <form>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="Pincode"
                                >{{
                                  data
                                    ? data.master.pincode.pincode
                                    : "Pincode"
                                }}:</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="pincode"
                                placeholder="{{
                                  data
                                    ? data.master.pincode.enterPincode
                                    : 'Enter Pincode'
                                }}"
                                name="pincode"
                                [(ngModel)]="pincode"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="countryName"
                                >{{
                                  data
                                    ? data.master.pincode.countryName
                                    : "Country Name"
                                }}:</label
                              >
                              <div class="suggestion_input_wrapper">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="countryName"
                                  placeholder="{{
                                    data
                                      ? data.master.pincode.enterCountryName
                                      : 'Enter Country Name'
                                  }}"
                                  name="countryName"
                                  [(ngModel)]="countryName"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="CountryISOCode"
                                >{{
                                  data
                                    ? data.master.pincode.countryISOCode
                                    : "Country ISO Code"
                                }}:</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="countryISOCode"
                                placeholder="{{
                                  data
                                    ? data.master.pincode.enterCountryISOCode
                                    : 'Enter Country ISO Code'
                                }}"
                                name="countryISOCode"
                                [(ngModel)]="countryISOCode"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="StateName"
                                >{{
                                  data
                                    ? data.master.pincode.stateName
                                    : "State Name"
                                }}:</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="stateName"
                                placeholder="{{
                                  data
                                    ? data.master.pincode.enterStateName
                                    : 'Enter State Name'
                                }}"
                                name="stateName"
                                [(ngModel)]="stateName"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="query-btn">
                          <a class="btn btn-secondary"
                            ><i
                              class="fa fa-history"
                              aria-hidden="true"
                              (click)="resetPincodeData()"
                            ></i>
                            {{ data ? data.buttons.reset : "Reset" }}</a
                          >
                          <a class="btn btn-info"
                            ><i
                              class="fa fa-search"
                              aria-hidden="true"
                              (click)="advancePincodeDataSearch()"
                            ></i>
                            {{ data ? data.buttons.search : "Search" }}</a
                          >
                          <a class="btn btn-danger" (click)="showQueryForm()"
                            ><i class="fa fa-close" aria-hidden="true"></i>
                            {{ data ? data.admission.close : "Close" }}</a
                          >
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="property-table-wrapper" style="width: 100%">
                  <div class="table-responsive">
                    <table
                      mat-table
                      [dataSource]="dataSourcePincode"
                      matTableExporter
                      #exporter="matTableExporter"
                      class="mat-elevation-z8"
                      matSort
                    >
                      <!-- <ng-container matColumnDef="_id">
                                        <th mat-header-cell *matHeaderCellDef> Partner Id </th>
                                        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                                    </ng-container> -->
                      <ng-container matColumnDef="pincode">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{ data ? data.master.pincode.pincode : "Pincode" }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.pincode }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="countryName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{
                            data
                              ? data.master.pincode.countryName
                              : "Country Name"
                          }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.countryName }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="countryISOCode">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{
                            data
                              ? data.master.pincode.countryISOCode
                              : "Country ISO Code"
                          }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.countryISOCode }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="stateName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{
                            data ? data.master.pincode.stateName : "State Name"
                          }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.stateName }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="cityName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{
                            data ? data.master.pincode.cityName : "City Name"
                          }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.cityName }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="region">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{ data ? data.master.pincode.region : "Region" }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.region }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="status">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          {{ data ? data.master.pincode.status : "Status" }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element?.status === 1 ? "Active" : "Inactive" }}
                        </td>
                      </ng-container>
                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></tr>
                      <tr
                        mat-row
                        (dblclick)="getPincodeById(row._id)"
                        *matRowDef="
                          let row;
                          columns: displayedColumns;
                          let i = index
                        "
                      ></tr>

                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell">No data Found!</td>
                      </tr>
                    </table>
                  </div>
                  <mat-paginator
                    [pageSizeOptions]="[10, 25, 50, 100]"
                    aria-label="Select page of users"
                  ></mat-paginator>
                </div>
              </div>
            </div>
          </div>
          <div
            class="new-property-wrapper"
            *ngIf="showPincodeDetails && !showImport"
          >
            <p class="main-heading">
              <span
                >{{
                  data ? data.master.pincode.pincodeHeading : "Add New Pincode"
                }}: </span
              >{{
                data
                  ? data.master.pincode.pincodeDes
                  : "Fill the following details to add new pincode."
              }}
              <span
                (click)="hidePincodeDetails()"
                class="close1"
                data-toggle="tooltip"
                title="Close"
                >X</span
              >
            </p>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label for="pincode"
                      >{{ data ? data.master.pincode.pincode : "Pincode" }}
                      <span class="asterisk">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="pincode1"
                      placeholder="{{
                        data
                          ? data.master.pincode.enterPincode
                          : 'Enter Pincode'
                      }}"
                      name="pincode"
                      [(ngModel)]="pincode"
                    />
                    <!-- <ul class="searched-list" *ngIf="pincode.length > 0">
                                            <li *ngFor="let p of pincode" (click)="setTokenPincode(p)">
                                                {{p.pincode}}</li>
                                        </ul> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="countryName"
                      >{{
                        data ? data.master.pincode.countryName : "Country Name"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <div class="suggestion_input_wrapper">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      <input
                        type="text"
                        class="form-control"
                        id="countryName"
                        placeholder="{{
                          data
                            ? data.master.pincode.enterCountryName
                            : 'Enter Country Name'
                        }}"
                        name="countryName"
                        [(ngModel)]="countryName"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="countryISOCode"
                      >{{
                        data
                          ? data.master.pincode.countryISOCode
                          : "Country ISO Code"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="ISOCode"
                      placeholder="{{
                        data
                          ? data.master.pincode.enterCountryISOCode
                          : 'Enter Country ISO Code'
                      }}"
                      name="countryISOCode"
                      [(ngModel)]="countryISOCode"
                      [disabled]="_id || _id !== ''"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="stateName"
                      >{{ data ? data.master.pincode.stateName : "State Name"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="stateName"
                      placeholder="{{
                        data
                          ? data.master.pincode.enterStateName
                          : 'Enter State Name'
                      }}"
                      name="stateName"
                      [(ngModel)]="stateName"
                    />
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cityName"
                      >{{ data ? data.master.pincode.cityName : "City Name"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="cityName"
                      placeholder="{{
                        data
                          ? data.master.pincode.enterCityName
                          : 'Enter City Name'
                      }}"
                      name="cityName"
                      [(ngModel)]="cityName"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="region"
                      >{{ data ? data.master.pincode.region : "Region"
                      }}<span class="asterisk">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="region"
                      placeholder="{{
                        data ? data.master.pincode.enterRegion : 'Enter Region'
                      }}"
                      name="region"
                      [(ngModel)]="region"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div
                    class="form-group d-flex justify-content-between align-items-center"
                  >
                    <label class="mb-0" for="isActive"
                      >{{
                        data ? data.master.pincode.isActive : "Is Active"
                      }}:</label
                    >
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        name="isActive"
                        class="custom-control-input"
                        id="customSwitch1"
                        checked
                        [(ngModel)]="isActive"
                      />
                      <label
                        class="custom-control-label"
                        for="customSwitch1"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="result mt-4">
              <a class="btn btn-secondary mr-2" (click)="resetPincodeData()"
                ><i class="fa fa-history" aria-hidden="true"></i
                >{{ data ? data.buttons.reset : "Reset" }}</a
              >
              <a class="btn btn-success" (click)="upsertPincodeDetails()">
                <i class="fa fa-check" aria-hidden="true"></i>
                {{ data ? data.master.pincode.submt : "Submit" }}</a
              >
            </div>
          </div>
          <div *ngIf="showImport && !showPincodeDetails">
            <app-import-data
              [showNavBar]="false"
              [showLeftMenu]="false"
              [validator]="importValidator"
              (importClose)="backToResults()"
            ></app-import-data>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
