<section class="login">
    <div class="container">
        <div class="login-card">
            <div class="logo">
                <img src="assets/images/logo.jpg" alt="logo"/>
            </div>
            <div class="login-fields">
                <h2>We have sent a password reset code by email to a***@g***. Enter it below to reset your password.</h2>
                <form [formGroup]="form">
                    <div class="form-control">
                        <label>Code</label>                      
                        <input type="text" formControlName="code" placeholder="Code" class="form-element" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
                        <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                            <div *ngIf="f.code.errors.required">code is required</div>
                        </div>
                    </div>
                    <div class="form-control">
                        <label>New Password</label>
                        <input type="text" formControlName="password" placeholder="New Password" class="form-element" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">password is required</div>
                        </div>
                    </div>
                    <div class="form-control">
                        <label>Enter New Password Again</label>
         

                        <input type="dtext" formControlName="newpassword" placeholder="Enter New Password Again" class="form-element" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />
                        <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newpassword.errors.required">password is required</div>
                        </div>
                    </div>
                    <div class="action-button">
                        <button type="button" class="btn">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
