<div class="container-fluid pl-0">
  <div class="row bg-white">
    <div class="col-md-5">
      <section class="login login-page" style="border-radius: 0 32px 32px 0">
        <div class="d-flex flex-column h-100">
          <img
            src="../../assets/images/Frame.png"
            width="60%"
            class="m-auto"
            alt=""
          />

          <div
            class="d-flex align-items-center justify-content-center mt-auto w-100"
          >
            <a class="btn btn-link d-flex p-1 align-items-center border-0 mr-0">
              Terms and conditions
            </a>
            <i
              class="fa fa-circle mx-2"
              style="color: #a5a6f6; font-size: 6px"
            ></i>
            <a class="btn btn-link d-flex p-1 align-items-center border-0">
              Privacy policy
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-7">
      <div
        class="d-flex h-100 w-100 align-items-center justify-content-center px-4"
        *ngIf="currentScreen == 'recoveryForm'"
      >
        <div class="w-75">
          <h3 class="font-weight-600 mb--1">Reset your password</h3>
          <small class="font-weight-600 text-dark">
            Type in your registered email address to reset password
          </small>
          <form class="mt-4">
            <div class="form-group">
              <label for="username"
                >User ID
                <span class="text-light-grey"
                  >(Registered Organisation Mail ID)</span
                ></label
              >
              <input
                type="text"
                [(ngModel)]="userName"
                name="userName"
                placeholder="Username"
                class="form-control rounded-pill"
              />
            </div>
            <!-- <ngx-recaptcha2 [siteKey]="siteKey"> </ngx-recaptcha2> -->
            <div class="d-flex align-items-center justify-content-end mt-4">
              <div class="forgot-passowrd">
                <a routerLink="../login" class="btn btn-secondary px-4"
                  >Back to login</a
                >
              </div>
              <div class="action-button">
                <button
                  type="button"
                  class="btn btn-purple ml-2 px-4"
                  (click)="switchScreen('mailSent'); sendEmail()"
                >
                  Next
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="d-flex h-100 w-100 align-items-center justify-content-center px-4"
        *ngIf="currentScreen == 'resetForm'"
      >
        <div class="w-75">
          <h3 class="font-weight-600 mb--1">Reset your password</h3>
          <small class="font-weight-600 text-dark">
            Type in your registered email address to reset password
          </small>
          <form class="mt-4">
            <div class="form-group">
              <label for="password"
                >New Password<span style="color: red">*</span></label
              >
              <div class="input-group rounded-pill">
                <input
                  autocomplete="new-password"
                  type="{{ showNewPassword ? 'text' : 'password' }}"
                  formControlName="password"
                  placeholder="New Password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <span class="input-group-addon">
                  <i
                    class="fa"
                    [ngClass]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="toggleNewPasswordVisibility()"
                    [ngStyle]="{
                      position: 'absolute',
                      top: '55%',
                      right: '8px',
                      transform: 'translateY(-50%)',
                      cursor: 'pointer',
                      fontSize: '20px'
                    }"
                  ></i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="confirm-password"
                >Confirm New Password<span style="color: red">*</span></label
              >
              <div class="input-group rounded-pill">
                <input
                  autocomplete="confirm-new-password"
                  type="{{ showConfirmNewPassword ? 'text' : 'password' }}"
                  formControlName="password"
                  placeholder="Confirm New Password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <span class="input-group-addon">
                  <i
                    class="fa"
                    [ngClass]="
                      showConfirmNewPassword ? 'fa-eye' : 'fa-eye-slash'
                    "
                    (click)="toggleConfirmNewPasswordVisibility()"
                    [ngStyle]="{
                      position: 'absolute',
                      top: '55%',
                      right: '8px',
                      transform: 'translateY(-50%)',
                      cursor: 'pointer',
                      fontSize: '20px'
                    }"
                  ></i>
                </span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-end mt-4">
              <div class="forgot-passowrd">
                <a routerLink="../login" class="btn btn-secondary px-4"
                  >Back to login</a
                >
              </div>
              <div class="action-button">
                <button type="button" class="btn btn-purple ml-2 px-4">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="d-flex h-100 w-100 align-items-center justify-content-center px-4"
        *ngIf="currentScreen == 'mailSent'"
      >
        <div class="w-75">
          <h3 class="font-weight-600 mb--1">Recovery Email Sent!</h3>
          <small class="font-weight-600 text-dark">
            Please check your email for next steps to reset your password.
          </small>
          <button class="btn btn-light-grey my-4 px-4 d-block">
            Resend Again
          </button>
          <div class="d-flex align-items-center justify-content-end">
            <div class="forgot-passowrd">
              <a routerLink="../login" class="btn btn-secondary px-4"
                >Back to login</a
              >
            </div>
            <div class="action-button">
              <button
                type="button"
                class="btn btn-purple-2 ml-2 px-4"
                (click)="sendEmail()"
              >
                Contact Support
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
