<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="reason">Reason<span style="color: red;">*</span></label>
            <select name="reason" class="custom-select" [(ngModel)]="isExtend? rejectionData.stringReason: rejectionData.reason">
                <option *ngFor="let type of rejectReasons" [value]="getReasonValue(data.type, type.key1, type.keyCode)">
                    {{type.key1}}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group" *ngIf="isExtend">
            <label for="contractTo">
                Change End Date
                <span class="asterisk">*</span>:</label>
            <input type="date" class="form-control" id="contractTo" [(ngModel)]="rejectionData.comment"
                name="contractTo" />
            <!-- <label for="reason">Comment<span style="color: red;">*</span></label>
            <textarea rows="3" class="form-control" name="comment" [(ngModel)]="rejectionData.comment"></textarea> -->
        </div>
        <div class="form-group" *ngIf="!isExtend">
            <label for="reason">Comment<span style="color: red;">*</span></label>
            <textarea rows="3" class="form-control" name="comment" [(ngModel)]="rejectionData.comment"></textarea>
        </div>
    </div>
</div>

<div class="result" *ngIf="data.mode === 'INPUT'">
    <a href="javascript:void(null)" class="btn btn-info" (click)="cancelReject()"><i class="fa fa-history"
            aria-hidden="true"></i> Close</a>
    <a href="javascript:void(null)"
        [ngClass]="data.labelReject === 'Activate' || data.labelReject === 'Change End Date' ? 'btn btn-success' : 'btn btn-danger'"
        (click)="reject()"><i class="fa fa-plus" aria-hidden="true"></i>
        {{ data.labelReject || 'Reject'}}</a>
</div>

<div class="result" *ngIf="data.mode === 'OUTPUT'">
    <a href="javascript:void(null)" class="btn btn-info" (click)="cancelReject()"><i class="fa fa-history"
            aria-hidden="true"></i> Okay</a>
</div>